openapi: 3.0.0
info:
  title: Omnia Voice API
  description: |
    The Omnia Voice API allows you to programmatically manage voice agents, tools, phone numbers, and call logs.
    
    ## Authentication
    All API requests require an API key to be passed in the `X-API-Key` header.
    
    ## Rate Limiting
    API requests are rate limited to 1000 requests per hour per API key.
  version: 1.0.0
  contact:
    email: support@omnia-voice.com
servers:
  - url: https://dashboard.omnia-voice.com/api/v1
    description: Production server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details

    Agent:
      type: object
      properties:
        id:
          type: string
          description: Agent unique identifier
        name:
          type: string
          description: Agent name
        description:
          type: string
          description: Agent description
        status:
          type: string
          enum: [ACTIVE, INACTIVE, ARCHIVED]
          description: Agent status
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        config:
          $ref: '#/components/schemas/AgentConfig'

    AgentConfig:
      type: object
      properties:
        languageId:
          type: string
          description: Language identifier
        voiceId:
          type: string
          description: Voice identifier
        greeting:
          type: string
          description: Initial greeting message
        basePrompt:
          type: string
          description: Base system prompt
        context:
          type: string
          description: Additional context
        questions:
          type: string
          description: Follow-up questions
        customInstructions:
          type: string
          description: Custom instructions
        recordingEnabled:
          type: boolean
          description: Whether to record calls
        language:
          $ref: '#/components/schemas/Language'
        voice:
          $ref: '#/components/schemas/Voice'

    CreateAgentRequest:
      type: object
      required:
        - name
        - config
      properties:
        name:
          type: string
          description: Agent name
        description:
          type: string
          description: Agent description
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
          default: ACTIVE
        config:
          type: object
          required:
            - languageId
            - voiceId
            - greeting
            - basePrompt
          properties:
            languageId:
              type: string
            voiceId:
              type: string
            greeting:
              type: string
            basePrompt:
              type: string
            context:
              type: string
            questions:
              type: string
            customInstructions:
              type: string
            recordingEnabled:
              type: boolean
              default: true

    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE, ARCHIVED]
        config:
          type: object
          properties:
            languageId:
              type: string
            voiceId:
              type: string
            greeting:
              type: string
            basePrompt:
              type: string
            context:
              type: string
            questions:
              type: string
            customInstructions:
              type: string
            recordingEnabled:
              type: boolean

    Tool:
      type: object
      properties:
        id:
          type: string
          description: Tool unique identifier
        type:
          type: string
          enum: [tool, action]
          description: Tool type
        name:
          type: string
          description: Tool display name
        modelToolName:
          type: string
          description: Name used by AI model
        description:
          type: string
          description: Tool description
        baseUrlPattern:
          type: string
          description: API endpoint URL
        httpMethod:
          type: string
          enum: [GET, POST, PUT, DELETE, PATCH]
        dynamicParameters:
          type: object
          description: Parameters that AI can set during conversation
          additionalProperties:
            type: object
            properties:
              location:
                type: string
                enum: [body, header, query, path, PARAMETER_LOCATION_BODY, PARAMETER_LOCATION_HEADER, PARAMETER_LOCATION_QUERY, PARAMETER_LOCATION_PATH]
                description: Where to place the parameter in the request
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum: [string, number, boolean, object, array]
                  description:
                    type: string
                  enum:
                    type: array
                    items:
                      type: string
                  required:
                    type: boolean
              required:
                type: boolean
                description: Whether this parameter is required
        automaticParameters:
          type: object
          description: Pre-configured parameters with fixed or system values
          additionalProperties:
            type: object
            properties:
              location:
                type: string
                enum: [body, header, query, path, PARAMETER_LOCATION_BODY, PARAMETER_LOCATION_HEADER, PARAMETER_LOCATION_QUERY, PARAMETER_LOCATION_PATH]
                description: Where to place the parameter in the request
              knownValue:
                type: string
                description: |
                  The value to use. Can be a literal value or system variables:
                  - KNOWN_PARAM_CALL_ID: Current call session ID
                  - KNOWN_PARAM_USER_EMAIL: User's email address
                  - KNOWN_PARAM_PHONE_NUMBER: Caller's phone number
                  - Or any literal string value (e.g., "Bearer sk-api-key")
        createdAt:
          type: string
          format: date-time

    CreateToolRequest:
      type: object
      required:
        - type
        - name
        - modelToolName
        - baseUrlPattern
        - httpMethod
      properties:
        type:
          type: string
          enum: [tool, action]
        name:
          type: string
        modelToolName:
          type: string
        description:
          type: string
        baseUrlPattern:
          type: string
        httpMethod:
          type: string
          enum: [GET, POST, PUT, DELETE, PATCH]
        dynamicParameters:
          type: object
          description: Parameters that AI can set during conversation
          additionalProperties:
            type: object
            properties:
              location:
                type: string
                enum: [body, header, query, path, PARAMETER_LOCATION_BODY, PARAMETER_LOCATION_HEADER, PARAMETER_LOCATION_QUERY, PARAMETER_LOCATION_PATH]
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum: [string, number, boolean, object, array]
                  description:
                    type: string
                  enum:
                    type: array
                    items:
                      type: string
              required:
                type: boolean
        automaticParameters:
          type: object
          description: Pre-configured parameters with fixed or system values
          additionalProperties:
            type: object
            properties:
              location:
                type: string
                enum: [body, header, query, path, PARAMETER_LOCATION_BODY, PARAMETER_LOCATION_HEADER, PARAMETER_LOCATION_QUERY, PARAMETER_LOCATION_PATH]
              knownValue:
                type: string
                description: The value to use (literal or system variable like KNOWN_PARAM_CALL_ID)

    SystemTool:
      type: object
      properties:
        toolName:
          type: string
          description: System tool name
        description:
          type: string
          description: Tool description

    PhoneNumber:
      type: object
      properties:
        id:
          type: string
          description: Phone number assignment ID
        phoneNumber:
          type: string
          description: Phone number
        friendlyName:
          type: string
          description: Display name
        agentId:
          type: string
          description: Assigned agent ID
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        createdAt:
          type: string
          format: date-time
        agent:
          $ref: '#/components/schemas/Agent'

    CreatePhoneNumberRequest:
      type: object
      required:
        - phoneNumber
        - agentId
      properties:
        phoneNumber:
          type: string
          description: Phone number to assign
        friendlyName:
          type: string
          description: Display name
        agentId:
          type: string
          description: Agent to assign to

    CreateCallRequest:
      type: object
      required:
        - agentId
      properties:
        agentId:
          type: string
          description: The ID of the agent to use for this call
        connectionType:
          type: string
          enum: [twilio, telnyx, plivo, websocket]
          default: twilio
          description: The telephony provider connection type
        websocket:
          type: object
          description: WebSocket-specific configuration (required when connectionType is 'websocket')
          properties:
            inputSampleRate:
              type: integer
              description: Input audio sample rate in Hz (e.g., 8000, 16000)
              minimum: 8000
              maximum: 48000
            outputSampleRate:
              type: integer
              description: Output audio sample rate in Hz (e.g., 8000, 16000)
              minimum: 8000
              maximum: 48000
          required:
            - inputSampleRate
            - outputSampleRate
        metadata:
          type: object
          description: Optional metadata for the call
          additionalProperties: true

    CreateCallResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the created call
        websocketUrl:
          type: string
          format: uri
          description: WebSocket URL to connect to for the voice call
        status:
          type: string
          description: Current status of the call
          enum: [created, connecting, connected, ended]
        connectionType:
          type: string
          description: The connection type used for this call
          enum: [twilio, telnyx, plivo, websocket]
        agent:
          type: object
          properties:
            id:
              type: string
              description: Agent ID
            name:
              type: string
              description: Agent name
            description:
              type: string
              description: Agent description
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the call was created

    CallLog:
      type: object
      properties:
        id:
          type: string
          description: Call ID
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in seconds
        status:
          type: string
          description: Call end reason
        summary:
          type: string
          description: Call summary
        shortSummary:
          type: string
          description: Brief summary
        transcript:
          type: string
          description: Call transcript

    Voice:
      type: object
      properties:
        id:
          type: string
          description: Voice ID
        name:
          type: string
          description: Voice name
        description:
          type: string
          description: Voice description
        previewUrl:
          type: string
          description: Audio preview URL
        languageCode:
          type: string
          description: Language code

    Language:
      type: object
      properties:
        id:
          type: string
          description: Language ID
        code:
          type: string
          description: ISO language code
        name:
          type: string
          description: Language name
        isActive:
          type: boolean

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer

paths:
  /agents:
    get:
      summary: List agents
      description: Retrieve a list of all agents for the authenticated user
      operationId: listAgents
      tags:
        - Agents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Items per page
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, ARCHIVED]
          description: Filter by status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create agent
      description: Create a new agent
      operationId: createAgent
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agents/{id}:
    get:
      summary: Get agent
      description: Retrieve a specific agent by ID
      operationId: getAgent
      tags:
        - Agents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update agent
      description: Update an existing agent
      operationId: updateAgent
      tags:
        - Agents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete agent
      description: Delete an agent
      operationId: deleteAgent
      tags:
        - Agents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agent-tools:
    get:
      summary: List tools
      description: Retrieve a list of all tools for the authenticated user
      operationId: listTools
      tags:
        - Tools
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: type
          in: query
          schema:
            type: string
            enum: [tool, action]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tool'

    post:
      summary: Create tool
      description: Create a new tool
      operationId: createTool
      tags:
        - Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
            examples:
              callForwarding:
                summary: Call Forwarding Tool
                value:
                  name: "Forward Call"
                  description: "Transfers call to a human agent when needed"
                  modelToolName: "forwardCall"
                  httpMethod: "POST"
                  baseUrlPattern: "https://your-api.com/webhooks/forward-call"
                  automaticParameters:
                    callId:
                      location: "body"
                      knownValue: "KNOWN_PARAM_CALL_ID"
                  dynamicParameters:
                    targetNumber:
                      location: "body"
                      schema:
                        type: "string"
                        description: "Phone number to forward to"
                      required: true
                    reason:
                      location: "body"
                      schema:
                        type: "string"
                        description: "Reason for transferring the call"
                      required: true
              appointmentBooking:
                summary: Appointment Booking Tool
                value:
                  name: "Book Appointment"
                  description: "Books appointments with customer information"
                  modelToolName: "bookAppointment"
                  httpMethod: "POST"
                  baseUrlPattern: "https://api.clinic.com/appointments"
                  automaticParameters:
                    apiKey:
                      location: "header"
                      knownValue: "Bearer sk-your-api-key"
                    source:
                      location: "body"
                      knownValue: "voice-agent"
                  dynamicParameters:
                    appointmentData:
                      location: "body"
                      schema:
                        type: "object"
                        properties:
                          date:
                            type: "string"
                            description: "Appointment date"
                          time:
                            type: "string"
                            description: "Appointment time"
                          patientName:
                            type: "string"
                            description: "Patient's full name"
                          reason:
                            type: "string"
                            description: "Reason for visit"
                        required: ["date", "time", "patientName"]
                      required: true
      responses:
        '201':
          description: Tool created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agent-tools/{id}:
    get:
      summary: Get tool
      description: Retrieve a specific tool by ID
      operationId: getTool
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'

    put:
      summary: Update tool
      description: Update an existing tool
      operationId: updateTool
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
      responses:
        '200':
          description: Tool updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'

    delete:
      summary: Delete tool
      description: Delete a tool
      operationId: deleteTool
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tool deleted successfully

  /agent-tools/system:
    get:
      summary: List system tools
      description: Retrieve a list of available system tools
      operationId: listSystemTools
      tags:
        - Tools
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemTool'

  /agents/{id}/tools:
    get:
      summary: List agent tools
      description: Get all tools assigned to an agent
      operationId: listAgentTools
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customTools:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            description:
                              type: string
                            modelToolName:
                              type: string
                            httpMethod:
                              type: string
                            baseUrlPattern:
                              type: string
                            type:
                              type: string
                              enum: [custom]
                            assignedAt:
                              type: string
                              format: date-time
                      systemTools:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            toolName:
                              type: string
                            displayName:
                              type: string
                            description:
                              type: string
                            type:
                              type: string
                              enum: [system]
                            assignedAt:
                              type: string
                              format: date-time
                      totalTools:
                        type: integer
                        description: Total count of assigned tools
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Assign tools to agent
      description: Assign one or more tools to an agent
      operationId: assignToolsToAgent
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - toolIds
              properties:
                toolIds:
                  type: array
                  items:
                    type: string
                  description: Array of tool IDs to assign
                  minItems: 1
      responses:
        '200':
          description: Tools assigned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  assigned:
                    type: integer
                    description: Number of newly assigned tools
                  alreadyAssigned:
                    type: integer
                    description: Number of tools that were already assigned
        '400':
          description: Invalid request or tools not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agents/{id}/tools/{toolId}:
    delete:
      summary: Remove tool from agent
      description: Remove a tool assignment from an agent
      operationId: removeToolFromAgent
      tags:
        - Tools
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
        - name: toolId
          in: path
          required: true
          schema:
            type: string
          description: Tool ID
      responses:
        '204':
          description: Tool removed successfully
        '404':
          description: Agent or tool assignment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /numbers:
    get:
      summary: List phone numbers
      description: Retrieve a list of phone number assignments
      operationId: listPhoneNumbers
      tags:
        - Phone Numbers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, INACTIVE]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PhoneNumber'

    post:
      summary: Assign phone number
      description: Create a phone number assignment
      operationId: assignPhoneNumber
      tags:
        - Phone Numbers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberRequest'
      responses:
        '201':
          description: Phone number assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'

  /numbers/{id}:
    get:
      summary: Get phone number
      description: Retrieve a specific phone number assignment
      operationId: getPhoneNumber
      tags:
        - Phone Numbers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'

    put:
      summary: Update phone number
      description: Update a phone number assignment
      operationId: updatePhoneNumber
      tags:
        - Phone Numbers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                friendlyName:
                  type: string
                agentId:
                  type: string
                status:
                  type: string
                  enum: [ACTIVE, INACTIVE]
      responses:
        '200':
          description: Phone number updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'

    delete:
      summary: Delete phone number
      description: Delete a phone number assignment
      operationId: deletePhoneNumber
      tags:
        - Phone Numbers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Phone number deleted successfully

  /agents/{id}/numbers:
    get:
      summary: Get agent phone numbers
      description: Get all phone numbers assigned to an agent
      operationId: getAgentPhoneNumbers
      tags:
        - Phone Numbers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PhoneNumber'

  /calls:
    get:
      summary: List call logs
      description: Retrieve call logs for the authenticated user
      operationId: listCallLogs
      tags:
        - Call Logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: status
          in: query
          schema:
            type: string
          description: Filter by call status
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Filter by start date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: Filter by end date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CallLog'

  /calls/create:
    post:
      summary: Create voice call
      description: |
        Create a voice call session for BYOT (Bring Your Own Telephony) users.
        
        Supports multiple connection types:
        - **twilio** - For Twilio WebSocket connections (default)
        - **telnyx** - For Telnyx telephony provider
        - **plivo** - For Plivo telephony provider
        - **websocket** - For custom WebSocket connections with configurable sample rates
        
        Returns a WebSocket URL that can be used with the specified telephony provider.
      operationId: createCall
      tags:
        - Calls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
            examples:
              twilio:
                summary: Twilio connection (default)
                value:
                  agentId: "agent-123"
              telnyx:
                summary: Telnyx connection
                value:
                  agentId: "agent-123"
                  connectionType: "telnyx"
              websocket:
                summary: Custom WebSocket connection
                value:
                  agentId: "agent-123"
                  connectionType: "websocket"
                  websocket:
                    inputSampleRate: 16000
                    outputSampleRate: 16000
      responses:
        '201':
          description: Call created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL to the created call resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCallResponse'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingAgent:
                  summary: Missing agent ID
                  value:
                    error:
                      message: "agentId is required"
                      code: "BAD_REQUEST"
                missingSampleRates:
                  summary: WebSocket missing sample rates
                  value:
                    error:
                      message: "WebSocket connection requires inputSampleRate and outputSampleRate"
                      code: "BAD_REQUEST"
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment Required - Insufficient balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /calls/{id}:
    get:
      summary: Get call details
      description: Retrieve details of a specific call
      operationId: getCallDetails
      tags:
        - Call Logs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Call ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLog'
        '404':
          description: Call not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /voices:
    get:
      summary: List voices
      description: Retrieve available voices for agent configuration
      operationId: listVoices
      tags:
        - Configuration
      parameters:
        - name: languageCode
          in: query
          schema:
            type: string
          description: Filter by language code
        - name: isActive
          in: query
          schema:
            type: boolean
          description: Filter by active status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
                  groupedByLanguage:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: '#/components/schemas/Voice'
                  total:
                    type: integer

  /languages:
    get:
      summary: List languages
      description: Retrieve available languages for agent configuration
      operationId: listLanguages
      tags:
        - Configuration
      parameters:
        - name: isActive
          in: query
          schema:
            type: boolean
          description: Filter by active status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
                  total:
                    type: integer

tags:
  - name: Agents
    description: Manage voice agents
  - name: Tools
    description: Manage agent tools and actions
  - name: Phone Numbers
    description: Manage phone number assignments
  - name: Calls
    description: Create and manage voice calls
  - name: Call Logs
    description: View call history and details
  - name: Configuration
    description: Get configuration options (voices, languages)